extends layout

block content
    #container
      table(border='2')
        thead
          tr
            th ID
            th First Name 
            th Last Name
        - each cust in customers
          tr
            td(contenteditable='true')=cust.idcustomers 
            td(contenteditable='true')=cust.first_name 
            td(contenteditable='true')=cust.last_name
                  table
form(method='POST', action='/')
        input(type='text', name='id_customers', placeholder='ID')
        input(type='text', name='first_name', placeholder='first name')
        input(type='text', name='last_name',placeholder='last name')
        input(type='text', name='phone_number',placeholder='phone number')
        input(type='text', name='address',placeholder='address')
        input(type='submit', value='send')
      
      form(method='DELETE', action='/')
        input(type='text', name='id_customers', placeholder='ID')
        input(type='text', name='first_name', placeholder='first name')
        input(type='text', name='last_name',placeholder='last name')
        input(type='text', name='phone_number',placeholder='phone number')
        input(type='text', name='address',placeholder='address')
        input(type='submit', value='send')

        
          