extends layout

block content
    #container
      table(border='2')
        thead
          tr
            th ID
            th First Name 
            th Last Name
        - each sale in salesinfos



        
          